<div class="">
    <!-- The search panel -->

    <div class="error-messages">
        <h4>Data Errors</h4>
        <table class="table table-bordered table-hover table-condensed"  ng-show="nbBusinessErrors">
            <thead style="background-color: #DDD;text-align: center;">
                <tr>
                    <th class="span2">
                        <a ng-click="businessOrderField = 'errorCode';
                                    businessOrderDir = !businessOrderDir">Error Code</a>
            <div ng-show="businessOrderField === 'errorCode'" class="inline_block left_gap sort_arrow {{businessOrderDir}}"></div>
            </th>
            <th class="span5">Description</th>
            <th class="span2">
                <a ng-click="businessOrderField = 'merchantCount';
                            businessOrderDir = !businessOrderDir">Number Of Merchants Impacted</a>
            <div ng-show="businessOrderField === 'merchantCount'" class="inline_block left_gap sort_arrow {{businessOrderDir}}"></div>
            </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="error in errors| filter:'BUSINESS' | orderBy:businessOrderField:businessOrderDir">
                    <td>{{error.errorCode}}</td>
                    <td>{{errorCodes[ error.errorCode ]}}</td>
                    <td>{{error.merchantCount}}</td>
                </tr>
            </tbody>
        </table>
        <div class="center message emptyPanel" ng-hide="nbBusinessErrors">
            <span class="alert alert-info" >No errors found, everything is running smoothly</span>
        </div>

        <h4>Technical Errors</h4>
        <table class="table table-bordered table-hover table-condensed"  ng-show="nbSystemErrors">
            <thead style="background-color: #DDD;text-align: center;">
                <tr>
                    <th class="span2"><a ng-click="systemOrderField = 'errorCode';
                                systemOrderDir = !systemOrderDir">Error Code</a><div ng-show="systemOrderField === 'errorCode'" class="inline_block left_gap sort_arrow {{systemOrderDir}}"></div></th>
            <th class="span5">Description</th>
            <th class="span2">
                <a ng-click="systemOrderField = 'merchantCount';
                            systemOrderDir = !systemOrderDir">Number Of Merchants Impacted</a>
            <div ng-show="systemOrderField === 'merchantCount'" class="inline_block left_gap sort_arrow {{systemOrderDir}}"></div>
            </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="error in errors| filter:'SYSTEM' | orderBy:systemOrderField:systemOrderDir">
                    <td>{{error.errorCode}}</td>
                    <td>{{errorCodes[ error.errorCode ]}}</td>
                    <td>{{error.merchantCount}}</td>
                </tr>
            </tbody>
        </table>
        <div class="center message emptyPanel" ng-hide="nbSystemErrors">
            <span class="alert alert-info" >No errors found, everything is running smoothly</span>
        </div>
    </div>
</div>