<div search-panel></div>
<div class="row">
    <!-- Data panel -->
    <div class="span12 history" ng-show="!loading">
        <button class="btn padding previous" ng-click="getPreviousDate()" ng-show="showTimeline && !message.content && active">
            <div>Previous</div>
        </button>
        <button class="btn padding next" ng-show="showTimeline && active" ng-click="getNextDate()">
            <div>Next</div>
        </button>
        <input ng-show="showTimeline" ng-enter="setInformationDate()" type="datetime-local"  ng-model="currentMerchant.Date" />
        <button ng-show="showTimeline" class="btn padding" ng-click="setInformationDate()" >
            <em class="icon-search"></em>
            <div class="pull-right">{{search_btn_title}}</div>
        </button>
        <button class="btn padding" ng-click="changeShowTimeline()" >
            <div>
                <em class="icon-history"></em>
                <div class="pull-right">{{history_btn_title}}</div>
            </div>
        </button>
        <div class="message" ng-show="showTimeline && message.content && !contentLoading" style="margin-top: 22px; margin-bottom: 22px">
            <span ng-show="message" class="alert alert-info" >{{searchDateMessage}}</span>
        </div>
    </div>
    <div class="span12"  ng-show="loading">
        <br />
        <progressbar max="max" value="dynamic" class="progress progress-info progress-striped active"><span style="color:black; white-space:nowrap;text-"><b>{{loadingMessage}}</b></span></progressbar>
    </div>

    <!--<div  ng-show="showTimeline"  class="span12"><div id="timeline-embed"></div></div>-->
    <div class="span12 center message" ng-show="currentMerchant.property.status === 'MERGED'">
        <span class="alert alert-info" >The merchant you are looking for have been merge to <a href="#/merchants/{{currentMerchant.property.survivorMerchantId}}">{{currentMerchant.property.survivorMerchantId}}</a></span>
    </div>

    <div ng-show="currentMerchant.property.status !== 'MERGED' && !loading">

        <div class="span6 form-horizontal">
            <fieldset>
                <div ng-show="currentMerchant.content.errorMessage" class="alert alert-error">
                    <span>{{currentMerchant.content.errorMessage}}</span>
                </div>

                <div class="center message" ng-show="message.content && !contentLoading && false" style="margin-top: 22px; margin-bottom: 22px">
                    <span ng-show="message" class="alert alert-info" >{{message.content}}</span>
                </div>
                <div ng-show="contentLoading">
                    <progressbar max="max" value="contentLoadingDynamic" class="progress progress-info progress-striped active"><span style="color:black; white-space:nowrap;text-"><b>Refreshing the list</b></span></progressbar>
                </div>
                <div ng-hide="contentLoading">
                    <div>
                        <accordion close-others="false">
                            <div display-content type="merchant_info"></div>
                            <div display-content type="phone"></div>
                            <div display-content type="location"></div>
                            <div display-content type="geocode"></div>
                            <div display-content type="business_hour"></div>
                            <div display-content type="business_detail"></div>
                            <div display-content type="textline"></div>
                        </accordion>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="span6 form-horizontal">
            <fieldset>

                <div ng-show="currentMerchant.content.errorMessage" class="alert alert-error">
                    <span>{{currentMerchant.content.errorMessage}}</span>
                </div>

                <div class="center message" ng-show="message.content && !contentLoading && false" style="margin-top: 22px; margin-bottom: 22px">
                    <span ng-show="message" class="alert alert-info" >{{message.content}}</span>
                </div>
                <div ng-show="contentLoading">
                    <progressbar max="max" value="contentLoadingDynamic" class="progress progress-info progress-striped active"><span style="color:black; white-space:nowrap;text-"><b>Refreshing the list</b></span></progressbar>
                </div>
                <div ng-hide="contentLoading">
                    <div>
                        <accordion close-others="false">
                            <div display-content type="email"></div>
                            <div display-content type="url"></div>
                            <div display-content type="heading"></div>
                           <!-- <div display-content type="directory"></div> -->
                            <div display-content type="media"></div>
                            <div display-content type="processing_instruction"></div>
                        </accordion>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="span12 form-horizontal" ng-show="history.contentHistory.length">
            <fieldset>
                <div class="row small-section-title" style="padding-bottom: 0px;">
                    <h3 class="pull-left">History</h3>
                </div>
                <hr style="margin-top: -10;margin-top: -1;margin-top: 0px;margin-bottom: 5px;"/>

                <br />

                <table class="table table-bordered table-hover table-condensed"  >
                    <thead style="background-color: #DDD;text-align: center;">
                        <tr>
                            <th>
                                <a href="" ng-click="reverse = !reverse">Date</a>
                    <div class="inline_block left_gap sort_arrow {{reverse ? 'false' : 'true'}}"></div>
                    </th>
                    <th>Source Location</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="changeSet in history.contentHistory| orderBy:'creationDate':!reverse">
                            <td>{{changeSet.creationDate| date : 'M/d/yy h:mm a' : timezone}}</td>
                            <td>{{changeSet.sourceSystem}}</td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
    <h3>Please confirm your change</h3>
    </div>
    <div class="modal-body control-group" ng-class="{error : $$errorMessage}">
    <div class="controls">
    <input type="text" ng-model="selected.comment" placeholder="Please enter a comment" />

    <span class="help-inline">{{$$errorMessage}}</span>
    </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Validate</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</script>


<script type="text/ng-template" id="loadingModal.html">
    <div class="modal-header">
    <h3 class="modal-title">Loading merchant {{merchantId}}</h3>
    </div>
    <div class="modal-body">
    <ul>
    <li ng-repeat="item in items">
    <a ng-click="selected.item = item">{{ currentMerchant.merchantId }}</a>
    </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>
    </div>
</script>