<div search-panel></div>
<div class="row">
    <!-- Data panel -->
    <div class="span12"  ng-show="loading">
        <br />
        <progressbar max="max" value="dynamic" class="progress progress-info progress-striped active"><span style="color:black; white-space:nowrap;text-"><b>{{loadingMessage}}</b></span></progressbar>
    </div>

    <!--<div  ng-show="showTimeline"  class="span12"><div id="timeline-embed"></div></div>-->
    <div class="span12 center message" ng-show="currentMerchant.property.status === 'MERGED'">
        <span class="alert alert-info" >The merchant you are looking for have been merge to <a href="#/merchants/{{currentMerchant.property.survivorMerchantId}}">{{currentMerchant.property.survivorMerchantId}}</a></span>
    </div>

    <div ng-show="currentMerchant.property.status !== 'MERGED' && !loading">
        <div class="span6 form-horizontal">
            <fieldset>
                <legend>Opt-in Information</legend>
                <div ng-show="message.socialNetworkOptins" class="alert alert-info">
                    <span>{{message.socialNetworkOptins}}</span>
                </div>
                <div ng-show="message.syndicationStatus" class="alert alert-info">
                    <span>{{message.syndicationStatus}}</span>
                </div>
                <div ng-show="currentMerchant.socialNetworkOptins.metaData" >
                    <span ng-show="socialNetworkOptins.metaData.replacedDate.date" tooltip-html-unsafe="The element have been replaced/removed on {{socialNetworkOptins.metaData.replacedDate.date}}" tooltip-placement="bottom" >
                        <span class="label label-info">Info</span>
                    </span>
                    <accordion close-others="false">
                        <accordion-group ng-repeat="optinInfo in currentMerchant.socialNetworkOptins.socialNetworkOptin| orderBy : 'syndicatedSite': false"  is-open="optinInfo.$$open">
                            <accordion-heading>
                                <div>
                                    {{syndicationsite[optinInfo.syndicatedSite]}}

                                    <a class="accordion-arrow-open {{optinInfo.$$open}} pull-right"><span>{{optinInfo.$$open}}</span></a>
                                </div>
                            </accordion-heading>

                            <table  class="table table-condensed "  style="margin-bottom: 0px;">
                                <tr>
                                    <td  class="span2">Latest Syndication : </td>
                                    <td>
                                        <a class="btn icon pull-left" ng-show="!showTimeline && currentMerchant.syndicationStatus.lastSuccessfullInfo.site[optinInfo.syndicatedSite].name !== undefined" ng-click="open(currentMerchant.syndicationStatus.lastSuccessfullInfo.site[optinInfo.syndicatedSite].name, 'latest')" title="Preview this content">
                                            <em class="icon-preview"></em>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td  class="span2">Status : </td>
                                    <td>
                                        <span class="italics">{{syndicationStatuses[ currentMerchant.syndicationStatus.lastSuccessfullInfo.site[optinInfo.syndicatedSite].status ] !== undefined ? syndicationStatuses[ currentMerchant.syndicationStatus.lastSuccessfullInfo.site[optinInfo.syndicatedSite].status ] : "N/A"}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Opt-in : </td>
                                    <td>{{optinInfo.optin| optin}}</td>
                                </tr>
                                <tr>
                                    <td>Email : </td>
                                    <td>{{optinInfo.email}}</td>
                                </tr>
                                <tr>
                                    <td>URL : </td>
                                    <td><a href="{{optinInfo.url}}" >{{optinInfo.url}}</a></td>
                                </tr>
                            </table>
                            <div ng-show="!contentElement.more && optinInfo.syndicatedSite === 'GOOGLE'" >
                                <button class="btn btn-mini" ng-click="contentElement.more = !contentElement.more">View Credentials</button>
                            </div>
                            <div ng-show="contentElement.more">
                                <button class="btn btn-mini" ng-click="contentElement.more = !contentElement.more">Hide Credentials</button>
                                <div ng-include="'fragments/credentials.html'" />
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </fieldset>
        </div>

        <div class="span6 form-horizontal">
            <fieldset>
                <legend>Contact</legend>
                <div ng-show="message.syndicationcontact" class="alert alert-info">
                    <span>{{message.syndicationcontact}}</span>
                </div>
                <div  ng-show="currentMerchant.syndicationcontact.metaData" >
                    <accordion close-others="false">
                        <accordion-group ng-show="currentMerchant.syndicationcontact.merchantContact"  is-open="currentMerchant.syndicationcontact.merchantContact.$$open">
                            <accordion-heading>
                                <div>
                                    Merchant Contact
                                    <a class="accordion-arrow-open {{currentMerchant.syndicationcontact.merchantContact.$$open}} pull-right"><span>{{currentMerchant.syndicationcontact.merchantContact.$$open}}</span></a>
                                </div>
                            </accordion-heading>
                            <table  class="table table-condensed "  style="margin-bottom: 0px;">
                                <tr>
                                    <td  class="span3">Name : </td>
                                    <td>{{currentMerchant.syndicationcontact.merchantContact.name}}</td>
                                </tr>
                                <tr>
                                    <td>Preferred Language : </td>
                                    <td>
                                        {{currentMerchant.syndicationcontact.merchantContact.preferredLanguage| language}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Email : </td>
                                    <td>{{currentMerchant.syndicationcontact.merchantContact.email}}</td>
                                </tr>
                                <tr>
                                    <td>Phone Number : </td>
                                    <td>
                                        {{currentMerchant.syndicationcontact.merchantContact.phone.phoneNumber| tel }}
                                        <span tooltip-html-unsafe="Confidentiality : {{currentMerchant.syndicationcontact.merchantContact.phone.phoneConfidentiality}}&lt;br /&gt; Phone type : {{currentMerchant.syndicationcontact.merchantContact.phone.phoneType}}" >
                                            <em class="icon-question-sign" ></em>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Preferred Time : </td>
                                    <td>{{currentMerchant.syndicationcontact.merchantContact.preferredTime.dayPeriod| dayPeriod}}</td>
                                </tr>
                                <tr>
                                    <td>Time Period : </td>
                                    <td>From {{currentMerchant.syndicationcontact.merchantContact.preferredTime.timePeriod.hourFrom}} to {{currentMerchant.syndicationcontact.merchantContact.preferredTime.timePeriod.hourTo}}</td>
                                </tr>
                            </table>
                        </accordion-group>

                        <accordion-group ng-show="currentMerchant.syndicationcontact.salesRepContact" is-open="currentMerchant.syndicationcontact.salesRepContact.$$open">
                            <accordion-heading>
                                <div>
                                    Sales Contact
                                    <a class="accordion-arrow-open {{currentMerchant.syndicationcontact.salesRepContact.$$open}} pull-right"><span>{{currentMerchant.syndicationcontact.salesRepContact.$$open}}</span></a>
                                </div>
                            </accordion-heading>
                            <table  class="table table-condensed "  style="margin-bottom: 0px;">
                                <tr>
                                    <td  class="span3">Name : </td>
                                    <td>{{currentMerchant.syndicationcontact.salesRepContact.name}}</td>
                                </tr>
                                <tr>
                                    <td>Preferred Language : </td>
                                    <td>
                                        {{currentMerchant.syndicationcontact.salesRepContact.preferredLanguage| language}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Email : </td>
                                    <td>{{currentMerchant.syndicationcontact.salesRepContact.email}}</td>
                                </tr>
                                <tr>
                                    <td>Phone Number : </td>
                                    <td>
                                        {{currentMerchant.syndicationcontact.salesRepContact.phone.phoneNumber| tel }}
                                        <span tooltip-html-unsafe="Confidentiality : {{currentMerchant.syndicationcontact.salesRepContact.phone.phoneConfidentiality}}&lt;br /&gt; Phone type : {{currentMerchant.syndicationcontact.salesRepContact.phone.phoneType}}" >
                                            <em class="icon-question-sign" ></em>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Preferred Time : </td>
                                    <td>{{currentMerchant.syndicationcontact.salesRepContact.preferredTime.dayPeriod| dayPeriod}}</td>
                                </tr>
                                <tr>
                                    <td>Time Period : </td>
                                    <td>From {{currentMerchant.syndicationcontact.salesRepContact.preferredTime.timePeriod.hourFrom}} to {{currentMerchant.syndicationcontact.salesRepContact.preferredTime.timePeriod.hourTo}}</td>
                                </tr>
                            </table>
                        </accordion-group>
                    </accordion>
                </div>
            </fieldset>
        </div>
    </div>

</div>

<script type="text/ng-template" id="payloadModal.html">
    <div class="modal-header">
    <h3 class="modal-title">Payload</h3>
    </div>
    <div class="modal-body">
    <div>
    <h4>incoming</h4>
    <div class="scrollbar">{{paylaod}}{{$$payload.inboundPayload}}</div>
    </div>

    <div>
    <h4>outgoing</h4>
    <div class="scrollbar">{{$$payload.outboundPayload}}</div>
    </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</script>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
    <h3>Please confirm your change</h3>
    </div>
    <div class="modal-body control-group" ng-class="{error : $$errorMessage}">
    <div class="controls">
    <input type="text" ng-model="selected.comment" placeholder="Please enter a comment" />

    <span class="help-inline">{{$$errorMessage}}</span>
    </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Validate</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</script>


<script type="text/ng-template" id="loadingModal.html">
    <div class="modal-header">
    <h3 class="modal-title">Loading merchant {{merchantId}}</h3>
    </div>
    <div class="modal-body">
    <ul>
    <li ng-repeat="item in items">
    <a ng-click="selected.item = item">{{ currentMerchant.merchantId }}</a>
    </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>
    </div>
</script>