@import "compass/utilities";
@import "compass/css3";

// Global variables 

$prefix: 'ypg';
$baseFont: 12px;
$fontFamily: 'Open Sans', sans-serif;
$borderRadius: 3px;
$ypBold: 600;
$sidebar: 360px;

$ypBaseText: #444;
$ypLiterGray: #f0f0f0;
$ypLiteGray: #d0d3d6;
$ypGray: #bababa;
$ypLinkColor: #005e9d;
$ypYellow: #FFF200;
$ypYellowDark: #F5D716;
$ypRed: #d53d3d;
$ypGreen: #87c024;
$ypDarkGreen: #55953d;
$ypBlue: #28a7d9;
$ypError: #de3535;

// Sprite images

// $merchant: sprite-map("sprites/merchant/*.png", $layout: horizontal);

// Render sprite image
@mixin ypg-sprite($sprites, $name, $width: true, $verticalAlign: false) {
    background-position: sprite-position($sprites, $name);
    @if $width == true {
        @include sprite-dimensions($sprites, $name);
    }
    @if $verticalAlign == true {
        @include verticalAlign($sprites, $name);
    }
}

@mixin ypg-sprite-extend($sprite, $image, $extend) {
    @include ypg-sprite($sprite, $image);
    @extend .#{$extend};
}

@mixin ypg-bgrimg($name) {
    background: transparent url("../images/" + $name);
    width: image-width($name);
    height: image-height($name);
}

@mixin ypg-gradient($startColor, $endColor, $oldie: false, $modern: true) {
    @if $oldie == true {
        @include filter-gradient($startColor, $endColor);
    }
    @if $modern == true {
        @include background-image(linear-gradient($startColor, $endColor));
    }
}

@mixin verticalAlign($sprites, $name) {
    top: 50%;
    margin-top: - image-height(sprite-file($sprites, $name))/2
}

@mixin horizontalAlign($sprites, $name) {
    left: 50%;
    margin-left: - image-width(sprite-file($sprites, $name))/2
}

@mixin centerAlign($sprites, $name) {
    left: 50%;
    top: 50%;
    margin-top: - image-height(sprite-file($sprites, $name))/2;
    margin-left: - image-width(sprite-file($sprites, $name))/2
}

@mixin showIcon($icon, $size, $color) {
    content: '#{$icon}';
    font-size: $size;
    color: $color;
    display: inline-block;
    @extend .ypg-icons;
}

@mixin horizontalIconAlign($sprite, $image, $parentSpacing) {
    $left: ($parentSpacing - image-width(sprite-file($sprite, $image)))/2;
    left: $left;
}

@mixin borderShadow($border, $shadow) {
    border-bottom: 1px solid $border;
    @include box-shadow(0 1px 0 $shadow);
    padding-bottom: 10px;
}

@mixin ellipsis($width: false) {
    @if $width == true {
        width: $width;
    }
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin clearfix {
    zoom: 1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

@mixin ypg-box-pack($value) {
    -ms-flex-pack: $value;
    @include box-pack($value);
}

@mixin ypg-box-align($value) {
    -ms-flex-align: $value;
    @include box-align($value);
}

@mixin ypg-display-box() {
    @include display-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
}

@mixin ypg-box-flex($value) {
    @include box-flex($value);
    -ms-flex: $value;
    -webkit-flex: $value; 
    flex: $value; 
}

@mixin ypg-box-align($align){
    @include box-align($align);
    -ms-align-items: $align;
    -webkit-align-items: $align;  
    align-items: $align; 
}

@mixin ypg-box-direction($direction){ // row || column
    -ms-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -webkit-flex-direction: $direction;  
    flex-direction: $direction; 
}

@mixin ypg-box-wrap($wrap){
    -ms-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    -webkit-flex-wrap: $wrap;  
    flex-wrap: $wrap; 
}

@mixin textshadow($value) {
    @if $value == white {
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
    }
    @if $value == black {
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    }
    @if $value == none {
        text-shadow: none;
    }
}

@mixin arrow($width, $color, $direction){
    content: '';    
    width: 0;
    height: 0;
    border: $width solid transparent;
    @if $direction == "right" {
        border-left-color: $color;
    }        
    @if $direction == "left"{
        border-right-color: $color;
    }
    @if $direction == "top" {
        border-bottom-color: $color;
    }
    @if $direction == "bottom"{
        border-top-color: $color;
    }    
}

@mixin disableClick {
    pointer-events: none;
    cursor: default;
}

// YP Logo
@mixin ypg-logo($logoSize: 50px, $offset: 7px, $color: #444, $text: true){
    $logoMargin: $logoSize/2;
    position: relative; height: $logoSize; text-align: left; display: inline-block;
    &:before {@include showIcon(\044E, $logoSize, $ypYellow); position: absolute; left: 0; top:0; line-height:$logoSize;  }
    span {position: absolute; display: inline-block; left: 0; height: $logoSize; 
        &:before {@include showIcon(\00D9, $logoSize/1.92, #444); line-height: $logoSize; position: absolute; left: 0; top:0; width: $logoSize+$offset; text-align: center; @include text-shadow(none);  }
        @if $text == true {
            &:after {@include showIcon(\041A, $logoSize*3, $color); line-height: $logoSize; left: $logoSize+$offset; position: absolute; top:50%; margin-top: - $logoMargin+$offset; }
            .fr & {
                &:after {content: "\041B";}
            }
        }
    }
}

