// Global Variables

$ypError2: #b94a48;
$ypDisabledField: #f6f6f6;
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;

a:focus {
    outline: none;
}

html { overflow-y: scroll; }
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#map-canvas label { width: auto; display:inline; }
#map-canvas img { max-width: none; }

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eeeeee;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #eeeeee;
}
#chat{
    position: fixed;
    bottom: 0px;
    background-color: white;
    left: 60px;
    z-index: 2030;
    width: 267px;
    border-left: 1px solid #404040;
    border-right: 1px solid #404040;
}
#chat-header{
    background-color: #404040;
    color: white;
    height: 27px;
    padding-top: 8px;
    padding-left: 9px;
}
#chat-header-title{
    float: left;
}
#chat-action {
    border-bottom: 1px solid #8D8D8D;
}
#chat-action div{
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#chat-dialog textarea {
    margin-left: 6px;
    width: 241px;
    height: 36px;
    resize: none;
    color: black;
}
#chat-dialog {
    margin-top: 5px;
    border-top: 1px solid #8D8D8D;
}
.icon-chat-header{
    width: 20px;
    height: 20px;
    top: 2px;
    position: relative;
    float: right;
}

.left-conversation{
    background: linear-gradient(#4AEE33, #1B9734);
    position: relative;
    margin: 1em 0 3em;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    bottom: auto;
    left: 3px;
    border-width: 20px 20px 0 0;
    border-color: rgba(0, 0, 0, 0) #075698;
    width: 226px;
}
.right-conversation{
    background: linear-gradient(#075698, #2E88C4);
    position: relative;
    margin: 1em 0 3em;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    bottom: auto;
    left: 23px;
    border-width: 20px 20px 0 0;
    border-color: rgba(0, 0, 0, 0) #075698;
    width: 226px;
}
.conversation-header{
    font-size: 10px;
    top: -2px;
    left: 2px;
    position: relative;
}
.conversation-footer {
    font-size: 10px;
    left: 192px;
    position: relative;
    bottom: -2px;
}
.conversation-content {
    position: relative;
    left: 4px;
    padding-right: 4px;
}
.chat-content {
    max-height: 200px;
    min-height: 80px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.hero-unit{
    margin-top: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.hero-login {
    margin-top: 90px;
}
#messagePanel,
.messagePanel {
    /*width: 500px;*/
    width: inherit;
    text-align: center;
    /*margin-left: 30%;*/
    /*position: fixed;*/
    z-index: 1130;
    /*top: 10px;*/
    margin: 100px 0 -90px 0;
    display: none;
}

#updateInformationPanel {
    position: fixed;
    bottom: -20px;
    z-index: 2000;
    right: 60px;
    display: none;
}


.center{
    text-align: center;
}

.right{
    float: right
}

.content-element{
    border: #e5e5e5 solid 1px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.accordion-heading{
    [class^="icon-"], [class*=" icon-"] {
        float: right;
        margin-top: 3px;
        margin-right: 5px;
        cursor: pointer;
    }
}

.rounded-border {
    border: thin solid #ccc;
    border-radius: 10px;
    padding: 10px;

    .rounded-border {
        margin-bottom: 10px;
    }
}

.content-element {
    a {
        i {
            float: right;
            /*            margin-top: 3px;
                        margin-right: 10px;*/
            z-index: 1020;
        }
    }
}

.area-div-button{
    width: 82%;
    margin-top: 5px;
}

.alert-error-accordion-heading {
    padding-top: 8px;
    margin-top: -8px;
    border-top-width: 5px;
    margin-bottom: -8px;
    padding-bottom: 8px;
    border-bottom-width: 10px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    border-right-width: 15px;
    padding-right: 15px;
}

.btn-disconnect {
    @extend btn-toolbar;
    margin-top: 21px;
    float:right;
}

.btn-chg-app{
    @extend btn-toolbar;
    margin-top: 20px;
    margin-right: 20px;
    float:right;
    .dropdown{
        list-style-type:none;
        .dropdown-menu {
            padding:28px;left: -192px;width: 265px;
            li {float: left;}
            a {
                margin-top:8px;margin-bottom:8px;margin-left:2px;margin-right:2px; padding: 0px 0px;
                width: 84px;display: inline-block;text-align: center;
            }
        }
    }
}

.icon-list-app {height: 30px;width: 30px;background-image: url('../img/glyphicons-ypg-halflings.png');background-position: -231px 7px;margin-top: 4px;}

[class^="logo-"],
[class*=" logo-"] {
    height: 64px;
    width: 64px;
    display: inline-block;
    background-image: url('../img/logo.png');
}

.logo-content {
    background-position: 128px 0px;
}

.logo-geo {
    background-position: 64px 0px;
}

.logo-yp {
    background-position: 0px -64px;
}

.panel-right-cmd{
    margin-top: 5px;
    margin-bottom: 5px;
    * {float: right; }
    button{
        @extend .btn;margin-left: 5px;padding-top: 7px;padding-bottom: 7px;
        &.btn-main {@extend .btn-primary;padding-top: 5px;padding-bottom: 5px;}
        i{margin-top: 2px;}
    }
}

.container{
    .brand {
        width: 194px;
        height: 57px;
        background-image: url('../img/yp_logo.svg');
        background-repeat: no-repeat;
        background-position: 20px 17px;

        img {
            display: none;
        }
    }

    .row{
        .span12{
            &.message{margin-top: 13px;}
        }
        .form-horizontal {
            .btn-toolbar {
                margin-top: 0px;
                .checkbox {float: right;}
            }
            .control-group {
                margin-top: 0px;

                &.padding {
                    padding: 0 10px;
                }

                .source-system {
                    padding-top: 5px;
                }
            }
        }
    }
}
.modal {
    input{width: 97%;}
}

.container {
    .hero-unit{
        h1{text-align: center;}
    }
}

.table-log {
    table-layout:fixed;
    word-wrap: break-word;
    @extend .tablesorter-bootstrap;
    @extend .table-bordered;
    @extend .table-striped;
    @extend .table;
    .column-date{width: 95px;}
    .column-level{width: 65px;}
    .column-logger{width: 350px;}
}

.row-log {
    td {vertical-align: middle;}
    form{
        margin-bottom: 0px;
        select{margin-bottom: 0px;}
    }
}

.localizedInfoTooltip{
    float: right;
    margin-right: 20px;
}

#assetAccordion{
    .accordion-heading{
        .accordion-toggle{
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
        }
        .assetAccordionHeading{
            padding-bottom: 8px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 8px;
        }

    }
}

.app-title {
    width: inherit;
    height: 20px;
    position: absolute;
    margin-top: 35px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: $helvetica;
    color: #5a5b5d;
    text-transform: uppercase;
}

.primary-nav {
    margin-top: 78px;
    padding: 20px 0 30px 0;

    .nav-pills {
        margin: 0;
    }
}

.accordion-inner {
    border: none;
}

.accordion-arrow-open {
    display: block;
    width: 14px;
    height: 8px;
    margin: 6px 0 0 0;

    span {
        display: none;
    }

    &.true {
        background: url('../img/accordeon_up_grey.svg') no-repeat;
    }

    &.false {
        background: url('../img/accordeon_down_grey.svg') no-repeat;
    }
}

.accordion-group {
    &.error {
        border: 1px solid $ypError2;

        .accordion-heading a,
        .accordion-heading a:hover {
            color: $ypError2;
        }

        .accordion-arrow-open {
            &.true {
                background: url('../img/accordeon_up_red.svg') no-repeat;
            }

            &.false {
                background: url('../img/accordeon_down_red.svg') no-repeat;
            }
        }
    }

    &.disabled {
        border: 1px solid $ypDisabledField;

        .accordion-heading a,
        .accordion-heading a:hover {
            color: $ypDisabledField;
        }

        .accordion-arrow-open {
            &.true {
                background: url('../img/accordeon_up_light_grey.svg') no-repeat;
            }

            &.false {
                background: url('../img/accordeon_down_light_grey.svg') no-repeat;
            }
        }
    }

    .accordion-heading {
        .make-bold.true {
            font-weight: bold;
        }
    }

    [class*="span"] {
        margin-left: 0;

        .alert {
            margin-bottom: 0;
        }
    }
}

legend {
    border-bottom: none;
}

.section-title {
    font-family: $helvetica;
    font-weight: bold;
    font-size: 18px;
}

input.search-query {
    border-radius: 3px 0 0 3px;
    height: 30px;
    width: 220px;

    & + button {
        border-radius: 0;
        margin-left: -5px;
        height: 40px;
    }
}

.search-field-adjustment {
    margin-top: -62px;
}

.alert-filter-adjustment {
    margin-top: -120px;

    label {
        padding: 5px 10px 0 0;
    }

    select {
        width: 170px;
    }
}

.icon-history {
    background: url("../img/history.svg") no-repeat;
}

button {
    &.padding {
        padding: 1px 10px 1px 4px;
    }

    & > div {
        padding: 2px 3px 2px 4px;
    }

    & > div > div {
        margin-left: 5px;
    }
}

/*** utilities ***/

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.history {
    input {
        margin-bottom: 0;
    }

    button.btn {
        &.previous,
        &.current,
        &.next {
            width: 85px;
            padding: 1px 5px;
        }
    }
}

.error-messages {
    .accordion-group {
        border: 1px solid #bde8f0;
    }

    .accordion-heading .accordion-toggle,
    .no-padding {
        padding: 0;
    }

    &.small > div {
        background-color: #f2dede;
        padding: 10px 30px 10px 10px;
        border-radius: 5px;
        border: 1px solid #edd3d7;
        margin-bottom: 5px;
        max-height: 135px;
        overflow-y: scroll;

        a,
        span {
            display: block;
            color: #b74b4b;

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
}

div.close {
    width: 15px;
    height: 15px;
    margin: 10px 10px 0 0;
    border: none;
    background: url('../img/glyphicons-ypg-halflings.png') no-repeat -312px 0px;

    span {
        display: none;
    }
}

.various-controls {
    background-color: #efefef;
    padding: 5px;
    height: 22px;

    a {
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #b2b2b2;
        border-radius: 3px;
        float: left;
        margin-left: 8px;

        i {
            float: none;
        }
    }
}

.icon-trash {
    background: url('../img/delete.svg') no-repeat -3px -4px;
}

.icon-edit {
    background: url('../img/edit.svg') no-repeat -4px -5px;
}

.icon-preview {
    background: url('../img/preview.svg') no-repeat -4px -5px;
}

.timestamp {
    margin-bottom: 25px;
    font-size: 12px;

    & > a {
        margin-left: 15px;
    }

    div:nth-child(2) {
        margin-top: 5px;

        a {
            margin-right: 5px;
        }
    }
}

.icon {
    width: 20px;
    height: 20px;
    padding: 0;
}

.gap_right {
    margin-right: 15px;
}

.more-details {
    margin-top: 10px;
    background-color: #efefef;
    padding: 20px 0 1px 0;

    input, select {
        background-color: #FFF;
    }
}

.small-section-title {
    margin-left: 0px;
    padding: 10px 0;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
}

.italics {
    font-style: italic;
}

.content-element {
    &.edit_mode {
        background-color: #f7f7f7;
    }
}

#messagePanel.alert,
.messagePanel.alert {
    padding: 8px 0;
    display: block;
}

a.disabled {
    background-color: #eee;
    text-decoration: none;
    color: #005580;
}

.datatable {
    width: 100%;
    text-align: center;

    thead {
        background-color: #ddd;
        font-weight: bold;

        a {
            cursor: pointer;
        }
    }

    th, td {
        border: thin solid #ddd;
    }
}

.sort_arrow {
    width: 10px;
    height: 10px;

    &.false {
        background: url('../img/asc.png') no-repeat;
    }

    &.true {
        background: url('../img/desc.png') no-repeat;
    }
}

.inline_block {
    display: inline-block;
}

.left_gap {
    margin-left: 5px;
}

.accordion-body.collapse.in {
    overflow: visible;
}