<div class="row">
    <div class="span12 panel-right-cmd">
        <button title="Refresh logs" ng-click="refresh()"><em class="icon-refresh"></em></button>
    </div>

    <div class="span12">
        <table class="table-log">
            <thead>
                <tr class="tablesorter-headerRow">
                    <th class="tablesorter-header bootstrap-header"
                        ng-click="predicate = 'jobName';
                            reverse = !reverse">
            <div class="tablesorter-wrapper">
                <div class="tablesorter-header-inner">Job Name
                    <em ng-show="predicate !== 'jobName'" class="tablesorter-icon tablesorter-icon bootstrap-icon-unsorted"></em>
                    <em ng-show="predicate === 'jobName' && reverse" class="tablesorter-icon tablesorter-icon icon-chevron-down"></em>
                    <em ng-show="predicate === 'jobName' && !reverse" class="tablesorter-icon tablesorter-icon icon-chevron-up"></em>
                </div>
            </div>
            </th>
            <th class="tablesorter-header bootstrap-header">
            <div class="tablesorter-wrapper">
                <div class="tablesorter-header-inner">Start Time 
                    <!--i ng-show="predicate !== 'executionStartDate'" class="tablesorter-icon tablesorter-icon bootstrap-icon-unsorted"></em>
                    <em ng-show="predicate === 'executionStartDate' && reverse" class="tablesorter-icon tablesorter-icon icon-chevron-down"></em>
                    <em ng-show="predicate === 'executionStartDate' && !reverse" class="tablesorter-icon tablesorter-icon icon-chevron-up"></i-->
                </div>
            </div>
            </th>
            <th class="tablesorter-header bootstrap-header" >
            <div class="tablesorter-wrapper">
                <div class="tablesorter-header-inner">End Time 
                    <!--i ng-show="predicate !== 'executionEndDate'" class="tablesorter-icon tablesorter-icon bootstrap-icon-unsorted"></em>
                    <em ng-show="predicate === 'executionEndDate' && reverse" class="tablesorter-icon tablesorter-icon icon-chevron-down"></em>
                    <em ng-show="predicate === 'executionEndDate' && !reverse" class="tablesorter-icon tablesorter-icon icon-chevron-up"></i-->
                </div>
            </div>
            </th>
            <th class="tablesorter-header bootstrap-header">
            <div class="tablesorter-wrapper">
                <div class="tablesorter-header-inner">Status</div>
            </div>
            </th>
            </tr>
            <tr class="tablesorter-filter-row">
                <td>
                    <input type="search" placeholder="" class="tablesorter-filter " ng-model="search.jobName" />
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </thead>
            <tbody >
                <tr ng-repeat="job in batchs.job| orderBy:predicate:reverse | filter:search:strict">
                    <td>{{job.batchJobInstance.jobName}}</td>
                    <td>{{job.startDateTime}}</td>
                    <td><span>{{job.endDateTime}}</span></td>
                    <td><span>{{job.status}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>