<div class="row">
    <div class="span12 panel-right-cmd">
        <button title="Refresh logs" ng-click="refresh()"><em class="icon-refresh"></em></button>
        <button title="Empty logs" ng-click="empty()"><em class="icon-trash"></em></button>
    </div>

    <div class="span12">
        <table class="table-log">
            <thead>
                <tr class="tablesorter-headerRow">
                    <th class="tablesorter-header bootstrap-header column-date"
                        ng-click="predicate = 'Date';
                            reverse = !reverse">
            <div class="tablesorter-wrapper">
                <div class="tablesorter-header-inner">Date
                    <em ng-show="predicate !== 'Date'" class="tablesorter-icon tablesorter-icon bootstrap-icon-unsorted"></em>
                    <em ng-show="predicate === 'Date' && reverse" class="tablesorter-icon tablesorter-icon icon-chevron-down"></em>
                    <em ng-show="predicate === 'Date' && !reverse" class="tablesorter-icon tablesorter-icon icon-chevron-up"></em>
                </div>
            </div>
            </th>
            <th class="tablesorter-header bootstrap-header column-level"
                ng-click="predicate = 'Level';
                    reverse = !reverse">
            <div class="tablesorter-wrapper">
                <div class="tablesorter-header-inner">Level 
                    <em ng-show="predicate !== 'Level'" class="tablesorter-icon tablesorter-icon bootstrap-icon-unsorted"></em>
                    <em ng-show="predicate === 'Level' && reverse" class="tablesorter-icon tablesorter-icon icon-chevron-down"></em>
                    <em ng-show="predicate === 'Level' && !reverse" class="tablesorter-icon tablesorter-icon icon-chevron-up"></em>
                </div>
            </div>
            </th>
            <th class="tablesorter-header bootstrap-header column-logger" 
                ng-click="predicate = 'Logger';
                    reverse = !reverse">
            <div class="tablesorter-wrapper">
                <div class="tablesorter-header-inner">Logger 
                    <em ng-show="predicate !== 'Logger'" class="tablesorter-icon tablesorter-icon bootstrap-icon-unsorted"></em>
                    <em ng-show="predicate === 'Logger' && reverse" class="tablesorter-icon tablesorter-icon icon-chevron-down"></em>
                    <em ng-show="predicate === 'Logger' && !reverse" class="tablesorter-icon tablesorter-icon icon-chevron-up"></em>
                </div>
            </div>
            </th>
            <th class="tablesorter-header bootstrap-header">
            <div class="tablesorter-wrapper">
                <div class="tablesorter-header-inner">Message</div>
            </div>
            </th>
            </tr>
            <tr class="tablesorter-filter-row">
                <td>
                    <input type="search" placeholder="" class="tablesorter-filter " ng-model="search.Date" />
                </td>
                <td>
                    <input type="search" placeholder="" class="tablesorter-filter " ng-model="search.Level" />
                </td>
                <td>
                    <input type="search" placeholder="" class="tablesorter-filter " ng-model="search.Logger" />
                </td>
                <td>&nbsp;</td>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="log in logs| orderBy:predicate:reverse | filter:search:strict">
                    <td>{{log.Date}}</td>
                    <td>{{log.Level}}</td>
                    <td><span>{{log.Logger}}</span></td>
                    <td><span>{{log.Message| decodeBase64}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>