<div class="row">
    <div class="span12">
        <fieldset>
            <legend>Event notification service
                <div class="btn-group" style="float: right;">
                    <button class="btn btn-primary" ng-disabled="properties.eventNotification" ng-click="enable('event')">On</button>
                    <button class="btn" ng-disabled="!properties.eventNotification" ng-click="disable('event')">Off</button>
                </div>
            </legend>
        </fieldset>
        <fieldset>
            <legend>Web service service
                <div class="btn-group" style="float: right;">
                    <button class="btn btn-primary" ng-disabled="properties.webSocket" ng-click="enable('webSocket')">On</button>
                    <button class="btn" ng-disabled="!properties.webSocket" ng-click="disable('webSocket')">Off</button>
                </div>
            </legend>
        </fieldset>
        <fieldset>
            <legend>Tracking mechanisme
                <div class="btn-group" style="float: right;">
                    <button class="btn btn-primary" ng-disabled="properties.trackingMechanism.trackingFilter" ng-click="enable('trackingFilter')">On</button>
                    <button class="btn" ng-disabled="!properties.trackingMechanism.trackingFilter" ng-click="disable('trackingFilter')">Off</button>
                </div>
            </legend>
            <table id="tracking" class="table" ng-show="properties.trackingMechanism.trackingFilter">
                <tbody>
                    <tr>
                        <td>Tracking client information</td>
                        <td>
                            <button class="btn btn-primary" ng-disabled="properties.trackingMechanism.clientInfo" ng-click="enable('clientInfo')">On</button>
                            <button class="btn" ng-disabled="!properties.trackingMechanism.clientInfo" ng-click="disable('clientInfo')">Off</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Tracking client header</td>
                        <td>
                            <button class="btn btn-primary" ng-disabled="properties.trackingMechanism.header" ng-click="enable('header')">On</button>
                            <button class="btn" ng-disabled="!properties.trackingMechanism.header" ng-click="disable('header')">Off</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Tracking payload</td>
                        <td>
                            <button class="btn btn-primary" ng-disabled="properties.trackingMechanism.payload" ng-click="enable('payload')">On</button>
                            <button class="btn" ng-disabled="!properties.trackingMechanism.payload" ng-click="disable('payload')">Off</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Tracking payload</td>
                        <td>
                            <button class="btn btn-primary" ng-disabled="properties.trackingMechanism.queryString" ng-click="enable('queryString')">On</button>
                            <button class="btn" ng-disabled="!properties.trackingMechanism.queryString" ng-click="disable('queryString')">Off</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>