#container, #content{
    zoom: 1;
}
/* TYPE */
body {
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    /* background-color: transparent; */
    color: #333;
    -webkit-font-smoothing: antialiased;
}


#container {
width: 980px;
margin: 0 auto;
position: relative;
}
#content {
    min-height: 0 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 80px !important;
}
#content div::after, #content ul::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
div[role="key"] {
    height: 20px;
    margin-bottom: 35px;
}
div[role="key"] span {
    vertical-align: middle;
}
#main div[role="key"] > h2 {
    font-size: 13pt;
    font-weight: bold;
    position: absolute;
}
#main div[role="key"] > h2 span:first-child {
    margin-right: 5px;
}
div[role="key"] > table {
    color: #808080;
    float: right;
    font-size: 10pt;
    position: relative;
}
#li_maintenance, #li_serviceOutage, #li_normal, #li_serviceIssue {
    float: left;
    margin: 0 1px 0 0;
}
div[role="key"] #icon_maintenance, #icon_service_outage, #icon_normal, #icon_service_issue {
    display: inline-block;
    height: 18px;
    margin-right: 8px;
    width: 18px;
}
div[role="key"] #key_maintenance, #key_service_outage, #key_normal, #key_service_issue {
    margin-right: 0;
}
@media not all, not all, (min--moz-device-pixel-ratio: 0.1), (min-resolution: 0.1dppx), (min-resolution: 10dpi) {
    div[role="key"] #icon_maintenance {
        background-image: url("../images/maintenance.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}
div[role="key"] #key_maintenance {
    height: 20px;
    width: 180px;
}
@media not all, not all, (min--moz-device-pixel-ratio: 0.1), (min-resolution: 0.1dppx), (min-resolution: 10dpi) {
    div[role="key"] #icon_normal {
        background: rgba(0, 0, 0, 0) url("../images/online.png") no-repeat scroll 0 0;
    }
}
div[role="key"] #key_normal {
    height: 20px;
    width: 180px;
}
div[role="key"] #key_service_outage {
    width: 188px;
}
@media not all, not all, (min--moz-device-pixel-ratio: 0.1), (min-resolution: 0.1dppx), (min-resolution: 10dpi) {
    div[role="key"] #icon_service_issue {
        background-image: url("../images/offline.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}
div[role="key"] #key_service_issue {
    width: 180px;
}
div[role="main"] {
    border: 1px solid #d1d5d8;
    border-radius: 5px;
    height: auto;
    margin-bottom: 50px;
}
#main div[role="main"] > h2 {
    font-size: 24px;
    padding: 20px 10px 10px 14px;
}
div[role="main"] table:first-child th {
    border-radius: 4px 4px 0 0;
    border-top: medium none;
}
div[role="main"] table:last-child {
    border-radius: 0 0 4px 4px;
}
div[role="main"] table:last-child td:last-child {
    border-radius: 0 0 4px;
}
div[role="main"] table tr th {
    border-bottom: 1px solid #d1d5d8;
    border-top: 1px solid #d1d5d8;
}
div[role="main"] table tr:first-child {
    border-top: medium none;
}
div[role="main"] table table tr th {
    border-top: 1px solid #d1d5d8;
}
div[role="main"] table tr td:first-child {
    border-left: medium none;
}
div[role="main"] table th {
    background-color: #e9edf0;
    font-size: 12px;
    font-weight: bold;
    height: 25px !important;
    padding: 5px 0 5px 6px;
}
div[role="main"] table tr {
    height: 32px;
}
div[role="main"] table tr td {
    border-left: 1px dotted #d9d9d9;
    border-top: 1px dotted #d9d9d9;
}
div[role="main"] table tr td {
    height: 20px;
    padding: 6px 5px 6px 7px;
    vertical-align: top !important;
    width: 306px;
}
div[role="main"] table tr td span {
    height: 18px;
    margin-top: 2px;
    position: absolute;
    width: 18px;
}
div[role="main"] table tr td p.matrix_p {
    margin: 1px 0 0 24px;
}
div[role="main"] table tr td p.affected_p {
    color: #bbb;
    font-size: 10px;
    line-height: 15px;
    margin: 0 5px 0 23px;
}
div[role="main"] table tr td p.affected_p a{
    color: #bbb;
}
.matrixFull {
    height: auto !important;
}
@media not all, not all, (min--moz-device-pixel-ratio: 0.1), (min-resolution: 0.1dppx), (min-resolution: 10dpi) {
    .online {
        background-image: url("../images/online.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}
@media not all, not all, (min--moz-device-pixel-ratio: 0.1), (min-resolution: 0.1dppx), (min-resolution: 10dpi) {
    .offline {
        background-image: url("../images/offline.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}
div[role="contact_us"] {
    height: 16px;
    margin-bottom: 25px;
}
#main div[role="contact_us"] > h2 {
    font-size: 15px;
    position: absolute;
}
div[role="contact_us"] > span {
    color: #808080;
    float: right;
    position: relative;
    top: 20px;
}
#timeline {
    border: 1px solid #d1d5d8;
    border-radius: 5px;
}
.timeline_h3 {
    color: black;
    font-weight: bold;
    margin: 0 0 2px;
    max-height: 71px;
}
.timeline_p {
    margin: 0;
    overflow: hidden;
}
.displayFull {
    display: block !important;
}
#id_statustable {
    margin-left: 30px;
    margin-top: -30px;
}
#box3, #box4 {
    padding-top: 10px;
}
#box1, #box2, #box3, #box4 {
    height: 0 !important;
}
.disabledscriptHeader {
    color: #000000;
    font-family: Lucida Grande;
    font-size: 22px;
    padding-bottom: 5px;
    text-align: center;
}
.disabledscriptText {
    color: #808080;
    font-family: Lucida Grande;
    font-size: 16px;
    line-height: 25px;
    margin-top: 12px;
    padding-bottom: 15px;
    text-align: center;
}
#dashboard table tbody tr:first-child td {
    border-top: medium none !important;
}
#canvas_big {
    height: 35px;
    width: 1200px;
}
.atv4.sc-pane {
}
.environment-sash {
    float: right;
    overflow: hidden;
    position: relative;
    z-index: 800;
}
.sc-view {
    border: 0 solid transparent;
    cursor: default;
    margin: 0;
    overflow: hidden;
}
.environment-sash .sc-label-view {
    background-color: whitesmoke;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    color: #595959;
    font-weight: 500;
    padding: 7px 23px 7px 15px;
    position: relative;
    text-align: center;
}
.sc-label-view {
    white-space: pre-line;
}
.hide {
    display: none;
}
a {
    text-decoration: none;
}
