<div class="row small-section-title" ng-show="currentMerchant.merchantId" style="padding-bottom: 0px;">
    <h4 class="pull-left">Business details</h4>
</div>
<hr ng-show="currentMerchant.merchantId" style="margin-top: -10;margin-top: -1;margin-top: 0px;margin-bottom: 5px;"/>

<accordion-group ng-repeat="contentElement in currentMerchant.content.refCodeContent" is-open="contentElement.$$open" ng-show="contentElement.$$display">
    <accordion-heading>
        <div>
            <span ng-show="{{contentElement.refCode.length > 1}}">Business details ({{contentElement.metaData.sourceSystem}})</span>
            <span ng-show="{{contentElement.refCode.length === 1}}">{{refClassValue[contentElement.refCode[0].kmsClass]}} ({{contentElement.metaData.sourceSystem}})</span>
            <span ng-show="contentElement.metaData.replacedDate.date" tooltip-html-unsafe="The element have been replaced/removed on {{contentElement.metaData.replacedDate.date}}" tooltip-placement="bottom" >
                <span class="label label-info">Info</span>
            </span>

            <a class="accordion-arrow-open {{contentElement.$$open}} pull-right"><span>{{contentElement.$$open}}</span></a>
        </div>
    </accordion-heading>
    <div ng-repeat="refCode in contentElement.refCode| orderBy : 'kmsClass' : false">
        <hr ng-show="$index !== 0" style="margin-top: -10px;margin-top: -1px;margin-top: 0px;margin-bottom: 5px;"/>
        <table  class="table table-condensed "  style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th class="span4">English</th>
                    <th class="span4">French</th>
                    <th class="span1"></th>
                </tr>
            </thead>
            <tr ng-repeat="kmsCode in refCode.kmsCode| orderBy : 'orderNo' : false"  >
                <td ng-repeat="labelLocalized in kmsCode.labelLocalized| orderBy : 'languageCode' : false">{{labelLocalized.value}}</td>
                <td>
                    <span tooltip-html-unsafe="Verified By : {{refCode.verifiedBy}}&lt;br /&gt; Verify Date : {{refCode.dateLastVerified.date}}" >
                        <em class="icon-question-sign" ></em>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div more-detail></div>
</accordion-group>