<div class="row small-section-title" ng-show="currentMerchant.merchantId" style="padding-bottom: 0px;">
    <h4 class="pull-left">Merchant Names</h4>
</div>
<hr ng-show="currentMerchant.merchantId" style="margin-top: -10;margin-top: -1;margin-top: 0px;margin-bottom: 5px;"/>

<accordion-group ng-repeat="contentElement in currentMerchant.content.merchantInfoContent" is-open="contentElement.$$open"  ng-show="contentElement.$$display">
    <accordion-heading>
        <div>
            <span class="make-bold {{contentElement.$$open}}">Merchant Names ({{contentElement.metaData.sourceSystem}})</span>
            <span ng-show="contentElement.metaData.replacedDate.date" tooltip-html-unsafe="The element have been replaced/removed on {{contentElement.metaData.replacedDate.date}}" tooltip-placement="bottom" >
                <span class="label label-info">Info</span>
            </span>
            <a class="accordion-arrow-open {{contentElement.$$open}} pull-right"><span>{{contentElement.$$open}}</span></a>
        </div>
    </accordion-heading>

    <div ng-repeat="merchantInfo in contentElement.merchantInfo">
        <hr ng-show="$index !== 0" style="margin-top: -10px;margin-top: -1px;margin-top: 0px;margin-bottom: 5px;"/>
        <table ng-repeat="merchantInfoLocalized in merchantInfo.merchantsInfoLocalized"  class="table table-condensed " style="margin-bottom: 0px;">
            <tr>
                <td class="span3">
                    <span ng-show="{{merchantInfoLocalized.languageCode === 'FR'}}">French</span>
                    <span ng-show="{{merchantInfoLocalized.languageCode === 'EN'}}">English</span>
                    <span ng-show="$index === 0" tooltip-html-unsafe="Verified By : {{merchantInfo.verifiedBy}} &lt;br /&gt; Verify Date : {{merchantInfo.dateLastVerified.date}}" >
                        <em class="icon-question-sign" ></em>
                    </span>
                </td>
                <td>
                    {{merchantInfoLocalized.name}}
                </td>
            </tr>
        </table>
    </div>
    <div more-detail></div>
</accordion-group>