<div class="row small-section-title" ng-show="currentMerchant.merchantId" style="padding-bottom: 0px;">
    <h4 class="pull-left">Textlines</h4>
</div>
<hr ng-show="currentMerchant.merchantId" style="margin-top: -10;margin-top: -1;margin-top: 0px;margin-bottom: 5px;"/>

<accordion-group ng-repeat="contentElement in currentMerchant.content.textLineContent" is-open="contentElement.$$open" ng-show="contentElement.$$display">
    <accordion-heading>
        <div>
            <span ng-show="{{contentElement.textLine.length > 1}}">TextLine ({{contentElement.metaData.sourceSystem}})</span>
            <span ng-show="{{contentElement.textLine.length === 1}}">{{textLineTypeValue[contentElement.textLine[0].textLineType]}} ({{contentElement.metaData.sourceSystem}})</span>

            <span ng-show="contentElement.metaData.replacedDate.date" tooltip-html-unsafe="The element have been replaced/removed on {{contentElement.metaData.replacedDate.date}}" tooltip-placement="bottom" >
                <span class="label label-info">Info</span>
            </span>

            <a class="accordion-arrow-open {{contentElement.$$open}} pull-right"><span>{{contentElement.$$open}}</span></a>
        </div>
    </accordion-heading>

    <div ng-repeat="textLine in contentElement.textLine">
        <hr ng-show="$index !== 0" style="margin-top: -10px;margin-top: -1px;margin-top: 0px;margin-bottom: 5px;"/>
        <table  class="table table-condensed "  style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th colspan="2">{{textLineTypeValue[textLine.textLineType]}}</th>
                </tr>
            </thead>
            <tr ng-repeat="textLineLocalized in textLine.textLineLocalized">
                <td>
                    <span ng-show="{{textLineLocalized.languageCode === 'FR'}}">French</span>
                    <span ng-show="{{textLineLocalized.languageCode === 'EN'}}">English</span>
                </td>
                <td>
                    {{textLineLocalized.value}}
                </td>
                <td>
                    <span tooltip-html-unsafe="Verified By : {{textLine.verifiedBy}}&lt;br /&gt; Verify Date : {{textLine.dateLastVerified.date}}" >
                        <em class="icon-question-sign" ></em>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div more-detail ></div>
</accordion-group>