<div class="row small-section-title" ng-show="currentMerchant.merchantId" style="padding-bottom: 0px;">
    <h4 class="pull-left">URLs</h4>
    <button ng-hide="showTimeline || !writePermission" ng-show="writePermission" class="btn pull-right btn-mini" ng-click="addContent('Urls')">Add</button>
</div>
<hr ng-show="currentMerchant.merchantId" style="margin-top: -10px;margin-top: -1px;margin-top: 0px;margin-bottom: 5px;"/>

<accordion-group ng-repeat="contentElement in currentMerchant.content.urlContent" is-open="contentElement.$$open || contentElement.$$error" ng-show="contentElement.$$display">
    <accordion-heading>
        <div ng-class="{'alert-error': contentElement.$$error, 'alert-error-accordion-heading': contentElement.$$error}" ng-show="{{contentElement.url.length > 0}}">
            <span ng-show="{{contentElement.url.length > 1}}">Urls ({{contentElement.metaData.sourceSystem}})</span>
            <span ng-show="{{contentElement.url.length === 1}}">{{urlTypeValue[contentElement.url[0].urlType]}} ({{contentElement.metaData.sourceSystem}})</span>
            <span ng-show="contentElement.metaData.replacedDate.date" tooltip-html-unsafe="The element have been replaced/removed on {{contentElement.metaData.replacedDate.date}}" tooltip-placement="bottom" >
                <span class="label label-info">Info</span>
            </span>

            <a class="accordion-arrow-open {{contentElement.$$open}} pull-right"><span>{{contentElement.$$open}}</span></a>
        </div>
    </accordion-heading>

    <div class="alert alert-error" ng-show="contentElement.$$errorMessage">
        <span>{{contentElement.$$errorMessage}}</span>
    </div>
    <div ng-show="contentElement.metaData.sourceSystem === 'CAMS' && contentElement.$$editMode" class="content-element {{contentElement.$$edit ? 'edit_mode' : ''}}" ng-repeat="url in contentElement.url">
        <div ng-show="contentElement.$$editMode" class="various-controls">
            <div class="pull-right">
                <a class="btn icon" ng-click="removeUrl(contentElement, url)" ng-show="contentElement.$$editMode">
                    <em class="icon-trash icon-remove-element" ></em>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div ng-show="contentElement.url.length > 1 || contentElement.$$editMode" class="control-group"  ng-class="{error : url.$$error.urlType}">
            <label  class="control-label">Url Type</label>
            <div class="controls">
                <select ng-model="url.urlType" ng-disabled="!contentElement.$$editMode" ng-if="contentElement.metaData.sourceSystem === 'CAMS'">
                    <option value="" selected="selected">Please select</option>
                    <option value="FREE_URL">Free</option>
                </select>

                <select ng-options="key as value for (key, value) in urlTypeValue" ng-model="url.urlType" ng-disabled="!contentElement.$$editMode" ng-if="contentElement.metaData.sourceSystem !== 'CAMS'">
                    <option value="">Please select</option>
                </select>
                <span tooltip-html-unsafe="Verified By : {{url.verifiedBy}}&lt;br /&gt; Verify Date : {{url.dateLastVerified.date}}" >
                    <em class="icon-question-sign" ></em>
                </span>
                <span class="help-inline">{{url.$$error.urlType}}</span>
            </div>
        </div>
        <div ng-repeat="urlLocalized in url.urlLocalized| orderBy:'languageCode':false" >
            <div class="control-group" ng-class="{error : urlLocalized.$$error.value}">
                <label class="control-label">

                    <span ng-show="{{urlLocalized.languageCode === 'FR'}}">French</span>
                    <span ng-show="{{urlLocalized.languageCode === 'EN'}}">English</span>
                </label>
                <div class="controls">
                    <input type="text" ng-disabled="!contentElement.$$editMode" ng-model="urlLocalized.url" />
                    <span class="help-inline">{{urlLocalized.$$error.value}}</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="contentElement.metaData.sourceSystem !== 'CAMS' || !contentElement.$$editMode" ng-repeat="url in contentElement.url">
        <table class="table table-condensed ">
            <thead ng-show="{{contentElement.url.length > 1}}" >
                <tr>
                    <th colspan="2">{{urlTypeValue[url.urlType]}}</th>
                </tr>
            </thead>
            <tr ng-repeat="urlLocalized in url.urlLocalized">
                <td class="span3">
                    <span ng-show="{{urlLocalized.languageCode === 'FR'}}">French</span>
                    <span ng-show="{{urlLocalized.languageCode === 'EN'}}">English</span>
                </td>
                <td>
                    {{urlLocalized.url}}
                </td>
            </tr>
        </table>
    </div>
    <div class="content-element"  ng-show="contentElement.$$editMode">
        <form ng-submit="addUrl(contentElement.url)" >
            <div class="control-group" ng-class="{error : newUrl.error.urlType}">
                <label class="control-label">Url Type</label>
                <div class="controls">
                    <select ng-model="newUrl.urlType">
                        <option value="" selected>Please select</option>
                        <option value="FREE_URL">Free</option>
                    </select>
                    <span class="help-inline">{{newUrl.error.urlType}}</span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-group" ng-class="{error : newUrl.error.urlsFr}">
                    <label class="control-label">French</label>
                    <div class="controls">
                        <input type="text" ng-disabled="!contentElement.$$editMode" ng-model="newUrlsFr.value" />
                        <span class="help-inline">{{newUrl.error.urlsFr}}</span>
                    </div>
                </div>
                <div class="control-group" ng-class="{error : newUrl.error.urlsEn}">
                    <label class="control-label">English</label>
                    <div class="controls">
                        <input type="text" ng-disabled="!contentElement.$$editMode" ng-model="newUrlsEn.value" />
                        <button type="submit" class="btn btn-primary">Add</button>
                        <span class="help-inline">{{newUrl.error.urlsEn}}</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div more-detail style="margin-top: -15px" ng-hide="contentElement.$$editMode"></div>
    <div more-edit-detail style="margin-top: -15px" ng-show="contentElement.$$editMode"></div>
</accordion-group>