<div class="row small-section-title" ng-show="currentMerchant.merchantId" style="padding-bottom: 0px;">
    <h4 class="pull-left">Processing Instructions</h4>
</div>
<hr ng-show="currentMerchant.merchantId" style="margin-top: -10;margin-top: -1;margin-top: 0px;margin-bottom: 5px;"/>

<accordion-group ng-show="processingInstructions.length">
    <accordion-heading>
        <div ng-class="{'alert-error': contentElement.$$error, 'alert-error-accordion-heading': contentElement.$$error}">
            <span ng-show="processingInstructions.length > 1">Processing Instructions</span>
            <span ng-show="processingInstructions.length === 1">{{processing[processingInstructions[0].name]}}</span>

            <a class="accordion-arrow-open {{contentElement.$$open}} pull-right"><span>{{contentElement.$$open}}</span></a>
        </div>
    </accordion-heading>
    <div ng-repeat="processingInstruction in processingInstructions">
        <table class="table table-condensed">
            <tr>
                <td class="span3" ng-hide="processingInstructions.length === 1">
                    {{processing[processingInstruction.name]}}
                </td>
                <td>
                    {{processingInstruction.value}}
                </td>
            </tr>
        </table>
    </div>
</accordion-group>