<div class="row small-section-title" ng-show="currentMerchant.merchantId" style="padding-bottom: 0px;">
    <h4  class="pull-left">Addresses</h4>
</div>
<hr ng-show="currentMerchant.merchantId" style="margin-top: -10;margin-top: -1;margin-top: 0px;margin-bottom: 5px;"/>
<accordion-group ng-repeat="contentElement in currentMerchant.content.addressContent" is-open="contentElement.$$open" ng-show="contentElement.$$display">
    <accordion-heading>
        <div>
            <span>Addresses ({{contentElement.metaData.sourceSystem}})</span>
            <span ng-show="contentElement.metaData.replacedDate.date" tooltip-html-unsafe="The element have been replaced/removed on {{contentElement.metaData.replacedDate.date}}" tooltip-placement="bottom" >
                <span class="label label-info">Info</span>
            </span>

            <a class="accordion-arrow-open {{contentElement.$$open}} pull-right"><span>{{contentElement.$$open}}</span></a>
        </div>
    </accordion-heading>
    <div ng-repeat="address in contentElement.address">
        <hr ng-show="$index !== 0" style="margin-top: -10px;margin-top: -1px;margin-top: 0px;margin-bottom: 5px;"/>
        <table  class="table table-condensed "  style="margin-bottom: 0px;">
            <caption ng-show="contentElement.address.length > 1"><b>Address n° {{$index + 1}} </b></caption>
            <tr>
                <td class="span4">Confidentiality : </td>
                <td class="span4">
                    <span ng-hide="address.addressConfidentiality" class="label label-success">No</span>
                    <span ng-show="address.addressConfidentiality" class="label label-important">Yes</span>
                    <span tooltip-html-unsafe="Verified By : {{address.verifiedBy}}&lt;br /&gt; Verify Date : {{address.dateLastVerified.date}}" >
                        <em class="icon-question-sign" ></em>
                    </span>
                </td>
            </tr>
            <tr ng-hide="address.addressConfidentiality">
                <td class="span4">Display Line : </td>
                <td class="span4">{{address.displayLine}}</td>
            </tr>
            <tr ng-hide="address.addressConfidentiality">
                <td class="span4">Suite Number : </td>
                <td class="span4">{{address.suiteNumber}}</td>
            </tr>
            <tr ng-hide="address.addressConfidentiality">
                <td class="span4">Civic Number : </td>
                <td class="span4">{{address.civicNumber}}</td>
            </tr>
            <tr ng-hide="address.addressConfidentiality">
                <td class="span4">Street Name : </td>
                <td class="span4">{{address.streetName}}</td>
            </tr>
            <tr ng-hide="address.addressConfidentiality">
                <td class="span4">Street Type : </td>
                <td class="span4">{{address.streetType}}</td>
            </tr>
            <tr ng-hide="address.addressConfidentiality">
                <td class="span4">Street Direction : </td>
                <td class="span4">{{address.streetDirection}}</td>
            </tr>
            <tr ng-hide="address.addressConfidentiality">
                <td class="span4">Street Id : </td>
                <td class="span4">{{address.streetId}}</td>
            </tr>
            <tr ng-hide="address.addressConfidentiality">
                <td class="span4">City : </td>
                <td class="span4">{{address.city}}</td>
            </tr>
            <tr ng-hide="address.addressConfidentiality">
                <td class="span4">Province : </td>
                <td class="span4">{{address.province}}</td>
            </tr>
            <tr ng-hide="address.addressConfidentiality">
                <td class="span4">Country : </td>
                <td class="span4">{{address.country}}</td>
            </tr>
            <tr ng-hide="address.addressConfidentiality">
                <td class="span4">Postal Code : </td>
                <td class="span4">{{address.postalCode}}</td>
            </tr>
            <tr ng-hide="address.addressConfidentiality">
                <td class="span4">Confidence Level : </td>
                <td class="span4">{{address.addressConfidenceLevel}}</td>
            </tr>
            <tr ng-hide="address.addressConfidentiality">
                <td class="span4">Type : </td>
                <td class="span4">{{address.type}}</td>
            </tr>
        </table>
    </div>
    <div more-detail></div>
</accordion-group>