<div class="row small-section-title" ng-show="currentMerchant.merchantId" style="padding-bottom: 0px;">
    <h4 class="pull-left">Media</h4>
</div>
<hr ng-show="currentMerchant.merchantId" style="margin-top: -10;margin-top: -1;margin-top: 0px;margin-bottom: 5px;"/>

<accordion-group ng-repeat="contentElement in currentMerchant.content.mediaContent" is-open="contentElement.$$open || contentElement.$$error" ng-show="contentElement.$$display">
    <accordion-heading>
        <div ng-class="{'alert-error': contentElement.$$error, 'alert-error-accordion-heading': contentElement.$$error}">
            Media ({{contentElement.metaData.sourceSystem}})
            <span ng-show="contentElement.metaData.replacedDate.date" tooltip-html-unsafe="The element have been replaced/removed on {{contentElement.metaData.replacedDate.date}}" tooltip-placement="bottom" >
                <span class="label label-info">Info</span>
            </span>

            <a class="accordion-arrow-open {{contentElement.$$open}} pull-right"><span>{{contentElement.$$open}}</span></a>
        </div>
    </accordion-heading>

    <div class="alert alert-error" ng-show="contentElement.$$errorMessage">
        <span>{{contentElement.$$errorMessage}}</span>
    </div>
    <div ng-repeat="singleMedia in contentElement.media| orderBy:'orderNo'">
        <div class="padding"  ng-class="{error : singleMedia.$$error.mediaId}">
            <div ng-repeat="localized in singleMedia.mediaLocalized">
                <table class="table table-condensed ">
                    <tr>
                        <td>
                            <div>
                                <div style="height: 213px">
                                    <carousel interval="-1" no-wrap="false">
                                        <slide ng-repeat="resource in localized.resource" active="resource.active">
                                            <img ng-src="{{resource.url}}" style="margin:auto;height: 213px">
                                            <div class="carousel-caption">
                                                <p>Media Type : {{singleMedia.mediaType| mediaType}}<br />
                                                    Language : <span ng-show="{{localized.languageCode === 'FR'}}">French</span>
                                                    <span ng-show="{{localized.languageCode === 'EN'}}">English</span><br />
                                                    Type : {{resource.type| resourceType}}
                                                </p>
                                            </div>
                                        </slide>
                                    </carousel>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div more-detail style="margin-top: -15px"></div>
</accordion-group>