<div class="row small-section-title" ng-show="currentMerchant.merchantId" style="padding-bottom: 0px;">
    <h4 class="pull-left">Geocodes</h4>
</div>
<hr ng-show="currentMerchant.merchantId" style="margin-top: -10;margin-top: -1;margin-top: 0px;margin-bottom: 5px;"/>

<accordion-group ng-repeat="contentElement in currentMerchant.content.geocodeContent" is-open="contentElement.$$open" ng-show="contentElement.$$display">
    <accordion-heading>
        <div>
            <span>Geocodes ({{contentElement.metaData.sourceSystem}})</span>
            <span ng-show="contentElement.metaData.replacedDate.date" tooltip-html-unsafe="The element have been replaced/removed on {{contentElement.metaData.replacedDate.date}}" tooltip-placement="bottom" >
                <span class="label label-info">Info</span>
            </span>

            <a class="accordion-arrow-open {{contentElement.$$open}} pull-right"><span>{{contentElement.$$open}}</span></a>
        </div>
    </accordion-heading>
    <div ng-repeat="geocode in contentElement.geocode">
        <hr ng-show="$index !== 0" style="margin-top: -10px;margin-top: -1px;margin-top: 0px;margin-bottom: 5px;"/>
        <table  class="table table-condensed "  style="margin-bottom: 0px;">
            <tr>
                <td>Precision Level : </td>
                <td>
                    {{geocode.precisionLevel| precisionLevel}}
                    <span tooltip-html-unsafe="Source : {{geocode.source}} &lt;br /&gt; Channel : {{geocode.channel}} &lt;br /&gt; Geocode Date : {{geocode.geocodeDate.date}} &lt;br /&gt; Verified By : {{geocode.verifiedBy}}&lt;br /&gt; Verify Date : {{geocode.dateLastVerified.date}}" >
                        <em class="icon-question-sign" ></em>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Latitude : </td>
                <td>{{geocode.latitude}}</td>
            </tr>
            <tr>
                <td>Longitude : </td>
                <td>{{geocode.longitude}}</td>
            </tr>
        </table>
    </div>
    <div more-detail></div>
</accordion-group>