<div id="MerchantPropertyWrap" ng-controller="MerchantPropertyCtrl" class="row">
    <div>
        <div class="span6 form-horizontal">
            <fieldset>
                <div ng-show="currentMerchantProperty.status">
                    <table  class="table table-condensed "  style="margin-bottom: 0px;">
                        <tr>
                            <td class="span3">Status</td>
                            <td>
                                <span ng-show="currentMerchantProperty.status == 'MERGED'">
                                    <span class="label label-important">Merged</span> to <span><a href="#/merchants/{{currentMerchantProperty.survivorMerchantId}}">{{currentMerchantProperty.survivorMerchantId}}</a></span>
                                </span>
                                <span ng-hide="currentMerchantProperty.status == 'MERGED'" class="label label-success">Confirmed</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="span3">Out of Business</td>
                            <td>
                                <span ng-hide="currentMerchantProperty.active" class="label label-important">Yes</span>
                                <span ng-show="currentMerchantProperty.active" class="label label-success">No</span>
                                <span tooltip-html-unsafe="Active State Date : {{currentMerchantProperty.activeStateDate}}" >
                                    <em class="icon-question-sign" ></em>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="span3">Publish</td>
                            <td>
                                <span ng-hide="currentMerchantProperty.doNotPublish" class="label label-success">Yes</span>
                                <span ng-show="currentMerchantProperty.doNotPublish" class="label label-important">No</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="span3">Parent Merchant Id</td>
                            <td>
                                <span><a href="#/merchants/{{currentMerchantProperty.parent.merchantId}}">{{currentMerchantProperty.parent.merchantId}}</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="span3">Parent Relationship Type</td>
                            <td>
                                <span>{{currentMerchantProperty.parent.relationshipType}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>

        <div class="span6 form-horizontal">
            <fieldset>
                <div ng-controller="MerchantPropertyEditCtrl" ng-show="currentMerchantProperty.status == 'CONFIRMED'">
                    <form name="merchantPropertyForm">
                    <table  class="table table-condensed" style="margin-bottom: 0px;">
                        <tr>
                            <td class="span3">Primary Heading</td>
                            <td>
                                <div ng-hide="primaryHeadingEditorEnabled">
                                    <a ng-show="writePermission" href="" ng-click="primaryHeadingEditorEnabled=!primaryHeadingEditorEnabled">{{ currentMerchantProperty.primaryHeadingName || 'Click to Add Primary Heading' }}</a>
                                    <span ng-hide="writePermission">{{ currentMerchantProperty.primaryHeadingName}}</span>
                                </div>
                                <div ng-show="primaryHeadingEditorEnabled" class="control-group"  ng-class="{error : merchantPropertyForm.headingId.$invalid}">
                                    <input type="text" name="headingId" ng-model="currentMerchantProperty.primaryHeadingId" ng-minlength="8" ng-maxlength="8" ng-pattern="onlyNumbers" />
                                    <button type="button" class="btn btn-primary btn-sm" ng-disabled="merchantPropertyForm.headingId.$invalid" ng-click="primaryHeadingEditorEnabled=!primaryHeadingEditorEnabled; save('PrimaryHeading');">Save</button>
                                    <button type="button" class="btn btn-primary btn-sm" ng-click="primaryHeadingEditorEnabled=!primaryHeadingEditorEnabled; refresh('PrimaryHeading');">Skip</button>
                                    <span class="help-inline" ng-show="merchantPropertyForm.headingId.$invalid">Heading Id should be 8 digits</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="span3">Home Directory</td>
                            <td>
                                <div ng-hide="homeDirectoryEditorEnabled">
                                    <a ng-show="writePermission" href="" ng-click="homeDirectoryEditorEnabled=!homeDirectoryEditorEnabled">{{currentMerchantProperty.homeDirectoryName || 'Click to Add Home Directory' }}</a>
                                    <span ng-hide="writePermission">{{ currentMerchantProperty.homeDirectoryName }}</span>
                                </div>
                                <div ng-show="homeDirectoryEditorEnabled" class="control-group"  ng-class="{error : merchantPropertyForm.directoryCode.$invalid}">
                                    <input type="text" name="directoryCode" ng-model="currentMerchantProperty.homeDirectoryCode" ng-minlength="6" ng-maxlength="6" ng-pattern="onlyNumbers"/>
                                    <button type="button" class="btn btn-primary btn-sm" ng-disabled="merchantPropertyForm.directoryCode.$invalid" ng-click="homeDirectoryEditorEnabled=!homeDirectoryEditorEnabled; save('HomeDirectory');">Save</button>
                                    <button type="button" class="btn btn-primary btn-sm" ng-click="homeDirectoryEditorEnabled=!homeDirectoryEditorEnabled; refresh('HomeDirectory');">Skip</button>
                                    <span class="help-inline" ng-show="merchantPropertyForm.directoryCode.$invalid">Directory code should be 6 digits</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                   </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>