<div ng-controller="AppCtrl" ng-hide="assetsActive || dashboardActive">
    <!-- The search panel -->
    <div ng-show="distributionErrorsActive || syndicationActive || merchantsActive || assetInformationActive" class="center">
       <input type="text" name="mid" class="input-medium search-query"  placeholder="Enter a merchant id and hit enter"  ng-model="merchantIdSearch" ng-enter="init()" ng-change="validate_mid()" autofocus />
       <button type="submit" class="btn" ng-click="init()">Search</button>
    </div>
    <div>
        <BR/>
    </div>
    <div display-content type="merchant_property"></div>
    <div>
        <BR/>
        <!-- TABS -->
        <ul  class="nav nav-tabs">
            <li ng-class="distributionErrorsActive"><a href="#/distribution_errors/{{merchantIdSearch}}">Distribution Errors</a></li>
            <li ng-class="syndicationActive"><a href="#/syndication/{{merchantIdSearch}}">Syndication</a></li>
            <li ng-class="merchantsActive"><a href="#/merchants/{{merchantIdSearch}}">Content</a></li>
            <li ng-class="assetInformationActive"><a href="#/asset_information/{{merchantIdSearch}}">Assets</a></li>
        </ul>
    </div>
</div>