<div class="animate-show">
    <button ng-show="!asset.propertymore" ng-click="asset.propertymore = !asset.propertymore" class="btn btn-mini">Show Asset Property</button>
    <button ng-show="asset.propertymore" ng-click="asset.propertymore = !asset.propertymore" class="btn btn-mini">Hide Asset Property</button>
    <button ng-show="!asset.more" ng-click="asset.more = !asset.more" class="btn btn-mini">More Details</button>
    <button ng-show="asset.more" ng-click="asset.more = !asset.more" class="btn btn-mini">Less Details</button>
</div>
<div class="animate-show">
    <table  ng-show="asset.propertymore" class="table table-condensed "  style="margin-bottom: 0px;">
        <tr ng-repeat="prop in asset.assetProperty| orderBy : 'name' : false">
            <td class="span4">{{prop.name}}</td>
            <td class="span4">{{prop.value}}</td>
        </tr>
    </table>
    <table class="table table-hover table-condensed " ng-show="asset.more" >
        <tr>
            <td class="span4">Start Time : </td>
            <td>
                {{asset.effectiveDate}}
                <span ng-show="asset.effectiveDate" tooltip-html-unsafe="Source : {{asset.sourceSystem}} &lt;br /&gt; Source version : {{asset.sourceVersion}}" tooltip-placement="bottom" >
                    <em class="icon-question-sign" ></em>
                </span>
                <span ng-show="asset.effectiveDate" tooltip-html-unsafe="{{asset.updateComment}}" tooltip-placement="bottom" >
                    <em class="icon-comment" ></em>
                </span>
                <label ng-show="!asset.effectiveDate"  class="checkbox" >
                    <input type="checkbox" ng-checked="asset.effectiveDate === ''" ng-click="changeEffectiveDate(asset.metaData)">Now
                    <span tooltip-html-unsafe="Source : {{asset.sourceSystem}}" tooltip-placement="bottom" >
                        <em class="icon-question-sign" ></em>
                    </span>
                    <span tooltip-html-unsafe="{{asset.updateComment}}" tooltip-placement="bottom" >
                        <em class="icon-comment" ></em>
                    </span>
                </label>
            </td>
        </tr>
        <tr>
            <td>Start End : </td>
            <td>
                <span ng-show="asset.expirationDate" >{{asset.expirationDate}}</span>
                <span ng-show="!asset.expirationDate" >For ever</span>
            </td>
        </tr>
        <tr>
            <td>Creation End : </td>
            <td>{{asset.creationDate}}</td>
        </tr>
        <tr>
            <td>Status : </td>
            <td>{{asset.state}}</td>
        </tr>
    </table>
</div>