<div ng-show="!contentElement.more" class="animate-show">
    <button ng-click="contentElement.more = !contentElement.more" class="btn btn-mini">More Details</button>
    <a class="btn icon" ng-show="!showTimeline && contentElement.metaData.sourceSystem === 'CAMS' && writePermission" ng-click="trashContent(contentElement)" title="Remove this content">
        <em class="icon-trash"></em>
    </a>
    <a class="btn icon" ng-show="!showTimeline && contentElement.metaData.sourceSystem === 'CAMS' && writePermission" ng-click="editContent(contentElement, $event, $element)" title="Edit this content">
        <em class="icon-edit"></em>
    </a>
</div>
<div ng-show="contentElement.more" class="animate-show">
    <button ng-click="contentElement.more = !contentElement.more" class="btn btn-mini">Less Details</button>
    <a class="btn icon" ng-show="!showTimeline && contentElement.metaData.sourceSystem === 'CAMS' && writePermission" ng-click="trashContent(contentElement)" title="Remove this content">
        <em class="icon-trash"></em>
    </a>
    <a class="btn icon" ng-show="!showTimeline && contentElement.metaData.sourceSystem === 'CAMS' && writePermission" ng-click="editContent(contentElement, $event, $element)" title="Edit this content">
        <em class="icon-edit"></em>
    </a>
    <table class="table table-hover table-condensed ">
        <tr>
            <td>Start Time : </td>
            <td>
                {{contentElement.metaData.effectiveDate.date}}
                <span ng-show="contentElement.metaData.effectiveDate.date" tooltip-html-unsafe="Source : {{contentElement.metaData.sourceSystem}} &lt;br /&gt; Source version : {{contentElement.metaData.sourceVersion}}" tooltip-placement="bottom" >
                    <em class="icon-question-sign" ></em>
                </span>
                <span ng-show="contentElement.metaData.effectiveDate.date" tooltip-html-unsafe="{{contentElement.metaData.updateComment}}" tooltip-placement="bottom" >
                    <em class="icon-comment" ></em>
                </span>
                <label ng-show="!contentElement.metaData.effectiveDate.date"  class="checkbox" >
                    <input type="checkbox" ng-checked="contentElement.metaData.effectiveDate.date === ''" ng-click="changeEffectiveDate(contentElement.metaData)">Now
                    <span tooltip-html-unsafe="Source : {{contentElement.metaData.sourceSystem}}" tooltip-placement="bottom" >
                        <em class="icon-question-sign" ></em>
                    </span>
                    <span tooltip-html-unsafe="{{contentElement.metaData.updateComment}}" tooltip-placement="bottom" >
                        <em class="icon-comment" ></em>
                    </span>
                </label>
            </td>
        </tr>
        <tr>
            <td>Start End : </td>
            <td>
                <span ng-show="contentElement.metaData.expirationDate.date" >{{contentElement.metaData.expirationDate.date}}</span>
                <span ng-show="!contentElement.metaData.expirationDate.date" >For ever</span>
            </td>
        </tr>
        <tr>
            <td>Creation End : </td>
            <td>
                {{contentElement.metaData.creationDate.date}}
            </td>
        </tr>
        <tr>
            <td>Status : </td>
            <td>
                {{contentElement.metaData.status| contentStatus}}
            </td>
        </tr>
    </table>
</div>