<div ng-show="!contentElement.more && !contentElement.$$editMode" class="animate-show" >
    <button ng-click="contentElement.more = !contentElement.more" class="btn btn-mini">More Details</button>
</div>
<div ng-show="contentElement.more || contentElement.$$editMode" class="animate-show">
    <button ng-click="contentElement.more = !contentElement.more" ng-hide="contentElement.$$editMode" class="btn btn-mini">Less Details</button>
    <div class="more-details">
        <div class="control-group" ng-class="{error : contentElement.metaData.$$error.effectiveDate}">
            <label class="control-label">Start Time</label>
            <div class="controls">
                <input type="datetime-local" ng-show="contentElement.metaData.effectiveDate.date" ng-model="contentElement.metaData.effectiveDate.date" ng-disabled="!contentElement.$$editMode"/>
                <span ng-show="contentElement.metaData.effectiveDate.date" tooltip-html-unsafe="Source : {{contentElement.metaData.sourceSystem}} &lt;br /&gt; Source version : {{contentElement.metaData.sourceVersion}}" tooltip-placement="bottom" >
                    <em class="icon-question-sign" ></em>
                </span>
                <span ng-show="contentElement.metaData.effectiveDate.date" tooltip-html-unsafe="{{contentElement.metaData.updateComment}}" tooltip-placement="bottom" >
                    <em class="icon-comment" ></em>
                </span>
                <label ng-show="!contentElement.metaData.effectiveDate.date"  class="checkbox" >
                    <input type="checkbox" ng-checked="contentElement.metaData.effectiveDate.date === ''" ng-click="changeEffectiveDate(contentElement.metaData)">Now
                    <span tooltip-html-unsafe="Source : {{contentElement.metaData.sourceSystem}}" tooltip-placement="bottom" >
                        <em class="icon-question-sign" ></em>
                    </span>
                    <span tooltip-html-unsafe="{{contentElement.metaData.updateComment}}" tooltip-placement="bottom" >
                        <em class="icon-comment" ></em>
                    </span>
                </label>
                <span class="help-inline">{{contentElement.metaData.$$error.effectiveDate}}</span>
            </div>
        </div>
        <div class="control-group" ng-class="{error : contentElement.metaData.$$error.expirationDate}">
            <label class="control-label">End Time</label>
            <div class="controls">
                <input type="datetime-local" ng-show="contentElement.metaData.expirationDate.date"  ng-model="contentElement.metaData.expirationDate.date" ng-disabled="!contentElement.$$editMode"/>
                <label ng-show="!contentElement.metaData.expirationDate.date" class="checkbox">
                    <input type="checkbox"  ng-checked="contentElement.metaData.expirationDate.date === ''" ng-click="changeExpirationDate(contentElement.metaData)" ng-disabled="!contentElement.$$editMode">For ever
                </label>
                <span class="help-inline">{{contentElement.metaData.$$error.expirationDate}}</span>
            </div>
        </div>
        <div class="control-group" ng-hide="contentElement.$$editMode">
            <label class="control-label">Creation Date</label>
            <div class="controls">
                <input type="datetime-local" ng-show="contentElement.metaData.creationDate.date"  ng-model="contentElement.metaData.creationDate.date" disabled/>
                <label ng-show="!contentElement.metaData.creationDate.date" class="checkbox">
                    <input type="checkbox"  ng-checked="contentElement.metaData.creationDate.date === ''" disabled>For ever
                </label>
            </div>
        </div>
        <div class="control-group" ng-class="{error : contentElement.metaData.$$error.status}">
            <label class="control-label">Status</label>
            <div class="controls">
                <select ng-options="key as value for (key, value) in statusTypeValue" ng-model="contentElement.metaData.status" ng-disabled="!contentElement.$$editMode">
                    <option value="">Please select</option>
                </select>
                <span class="help-inline">{{contentElement.metaData.$$error.status}}</span>
            </div>
        </div>
    </div>
</div>
<div class="content-element modal-footer" ng-show="contentElement.$$editMode">
    <a id="edit-{{contentElement.metaData.contentId}}" ng-click="cancelEditContent(contentElement)" class="btn">Cancel</a>
    <a id="save-{{contentElement.metaData.contentId}}" ng-click="postContent(contentElement)" class="btn btn-primary">Save changes</a>
</div>